.footermain{
    height: 70px;
    width: 100%;
    background-color: rgb(37, 28, 28);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}