
.loading{
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loading>h4{
   font-size: 35px;
}
.dots{
    height: 18px;
    width: 18px;
    border: 0.5px solid transparent;
    box-shadow: 5px 5px 5px yellowgreen;
    border-radius: 10px;
    margin: 3px;
    /* animation: loading 2s linear  infinite alternate-reverse; */
}
/* @keyframes loading {
    from {background-color:blue}
    to {background-color:red}
    
} */
.circle1{
    /* background-color: black; */
    animation: loading 1s linear infinite alternate-reverse;
}
@keyframes loading {
    from {
        background-color: rgb(112, 140, 57);
    }
    to{background-color: whitesmoke;}
}

.circle2{
    /* background-color: black; */
    animation: loading1 1s linear infinite alternate-reverse;
}
@keyframes loading1 {
    from {
        background-color: rgb(27, 43, 160);
    }
    to{background-color: whitesmoke;}
}

.circle3{
    /* background-color: black; */
    animation: loading3 1s linear infinite alternate-reverse;
}
@keyframes loading3 {
    from {
        background-color: rgb(162, 13, 13);
    }
    to{background-color: whitesmoke;}
}
.circle4{
    /* background-color: black; */
    animation: loading4 1s linear infinite alternate-reverse;
}
@keyframes loading4 {
    from {
        background-color: rgb(138, 240, 21);
    }
    to{background-color: whitesmoke;}
}