header{
    height: 50px;
    width: 100%;
     border: 1px solid transparent;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    background-color: whitesmoke;
    color: black;
}
a{
    text-decoration: none;
    margin-left: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: yellowgreen;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}
/* .home{
    background-color: yellowgreen;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
} */